@font-face {
  font-family: "comic";
  src: url("assets/fonts/Comic_Andy.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: comic, Arial, sans-serif;
  text-align: center;
  background-image: url(imagenes/Banner\ Vertical_page-0001.jpg);
  background-repeat: repeat;
  background-size: auto;
  /* Ajusta el tamaño de la imagen en sentido horizontal y vertical */
  color: white;
}

.nft-card {
  border: 10px solid white;
  padding: 10px;
  margin: 10px;
  width: 320px;
  background-image: url(imagenes/fondo\ 2.jpeg);
  display: inline-block;
  background-size: cover;
  font-size: 30px;
}

.nft-card img {
  width: 300px;
  height: 300px;
}

.nft-card h3,
.nft-card p {
  color: white;
  background-color: black;
  border-radius: 50%;
}

marquee-container {
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  /* Inicio fuera de la pantalla hacia la derecha */
  100% {
    transform: translateX(-100%);
  }

  /* Fin fuera de la pantalla hacia la izquierda */
}

.p {

  font-size: 35px;
}

.compra a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  padding: 30px;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.banner {
  display: flex;

  align-items: center;
  justify-content: center;
  background-image: url(imagenes/Bannerr.jpg);
  color: white;
  padding: 20px;

  display: inline-block;
  border: 10px solid white;
}

/* Estilos para el contenido del header */
.header-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  animation: scroll-banner 10s linear infinite;
  /* Aplicar la animación */
}

/* Estilos para las imágenes dentro del header */
.banner img {
  max-width: 100px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
}

/* Estilos para la imagen flotante a la izquierda */
.float-left {
  float: left;
}

/* Estilos para la imagen flotante a la derecha */
.float-right {
  float: right;
}

/* Definir la animación de desplazamiento horizontal */
@keyframes scroll-banner {
  30% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@font-face {
  font-family: 'Comic Andy';
  src: url(imagenes/comic_andy/) format('TrueType');
}

.historia {
  display: flex;
  flex-direction: column;
  /* Alinea el contenido en columna (uno encima del otro) */
  align-items: center;
  justify-content: center;
  background-image: url(imagenes/Story.png);
  background-size: contain;
  /* Ajusta la imagen para que se ajuste al div */
  background-position: center;
  /* Centra la imagen de fondo */
  background-repeat: no-repeat;
  /* Evita que la imagen de fondo se repita */
  color: white;
  padding: 50px;
  /* Añade un espacio de relleno más grande */
  text-align: center;
  /* Centra el texto horizontalmente */
  height: 500px;
  /* Ajusta la altura del div según tus necesidades */
  font-family: 'Comic Andy' sans-serif;
  font-size: 35px;

}

.historia p {
  max-width: 600px;
  /* Establece un ancho máximo para el párrafo para que no ocupe todo el ancho del div */
  margin: 0;
  /* Elimina el margen predeterminado del párrafo */
}

.footer {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.footer-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('./imagenes/fondo\ 2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-cont {
  width: 200px;

}

.social-icon {}

.discord-ico {
  width: 100%;
  transition: transform 0.2s;
}

.discord-ico:hover {
  transform: scale(1.1);

}
